* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a, p {
    color: #ff0000;
}

a:hover {
    background-color: #ff0000;
    color: #ffffff;
}

a:visited {
    color: #73ff00;
}